h3{
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	/*border-bottom: 1px solid #444444;*/
	display: inline-block;
}
h4{
  margin-top: 5%;
}
.price{
  color: #e85c33;
  font-size: 16px;
}
.heading-section p {
  text-transform: none;
}
.main-header {
  top: 0 !important;
}
.scrolled {
  top: 0 !important;
}

#services {
  background: url(../images/products/bg.fw.png) no-repeat;
  background-size: 100% 100%; 
  background-position: center;
  /*background-image: */
  /*height: 100px;*/
  /*background-position: 15px;*/
}
#portfolio{
  background: url(../images/services/services-bg.png) no-repeat;
  background-size: 100% 100%; 
  background-position: center;
}
#our-team{
  background: url(../images/about/about-bg.png) no-repeat;
  background-size: 100% 100%; 
  background-position: center;
}
#contact{
  background: url(../images/location/location-bg.png) no-repeat;
  background-size: 100% 100%; 
  background-position: center;
}
.panel{
  background-color: rgba(255,0,0,.2);
}
.panel-body p{
  color: #fff;
}
.heading-section {
    margin-bottom: 1%;
}
#menu-wrapper {
  /*background-color: rgba(255, 255, 255, .5);*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#febbbb+0,ff5c5c+29,ff5c5c+65,fe9090+100&0+1,1+29,1+65,0+100 */
background: -moz-linear-gradient(left,  rgba(254,187,187,0) 0%, rgba(254,184,184,0) 1%, rgba(255,92,92,1) 29%, rgba(255,92,92,1) 65%, rgba(254,144,144,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(254,187,187,0) 0%,rgba(254,184,184,0) 1%,rgba(255,92,92,1) 29%,rgba(255,92,92,1) 65%,rgba(254,144,144,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(254,187,187,0) 0%,rgba(254,184,184,0) 1%,rgba(255,92,92,1) 29%,rgba(255,92,92,1) 65%,rgba(254,144,144,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00febbbb', endColorstr='#00fe9090',GradientType=1 ); /* IE6-9 */

}
.main-menu ul li a {
  color: #fff;
}
.main-menu ul li.active a {
    border-bottom: 3px solid #fff;
    color: #fff;
}
.heading-section h2 {
  border-bottom: none;
}
img{
  /*border: 2px solid #fff;  */
}
img.img-circle{
   border: 2px solid #ff5c5c;
}
.content-section{
  margin-top: 0;
}
h2.text-white{
   color: #fff !important;
}
h3.text-white{
  color: #fff;
  font-size: 18px;
  margin-bottom: 1%;
}
h3.text-white > p{
  font-size: 50%;
}
p.text-white{
  color: #fff;
  font-size: 16px;
  margin-bottom: 1%;
}
/*.logo-wrapper a {
  display: inline-block;
  overflow: hidden;
  padding-left: 130px;
  line-height: 100px;
  text-transform: uppercase;
  color: #ec523f;
  font-size: 32px;
  font-weight: 700;
}*/
/*.heading-section h3{
  color: #e85c33;
}
*/